@import './base.css';
@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

html, body, #root {
  height: 100vh;
}

body {
  background-image: url('./wavy-lines.svg');
  background-size: fill;
  user-select: none;
}

/** Drag */

.draggable {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

/** Custom Font */

.custom-font {
  font-family: 'Menlo', 'Lucida Console', monospace;
}

/** Custom scrollbar */

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a; /* dark track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* thumb color */
  border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777; /* hover color */
}

/** No spin for input number */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/** Color of calendar in input */

/*
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
*/

/** Fonts */

@font-face {
  font-family: "Orbitron";
  src: url("./fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oxanium";
  src: url("./fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/** Shimmer */

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

/** RadixUI */

[data-state="open"] {
    animation: fadeIn 0.5s ease-out;
}

.textfield-padding .rt-TextFieldInput {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
}

.textfield-calendar-none .rt-TextFieldInput::-webkit-calendar-picker-indicator {
  display: none;
}
